<style>
* {
	margin: 0;
	padding: 0;
}

body {
    font-family: "Droid Sans Mono";
    color: white;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.container-fluid {
	padding: 0px;
}

#background1 {
	position: relative;
	background-size: cover;
	width: 100%;
	height: 100vh;
	display: block;
    background: rgb(232, 67, 50);
}

#welcome {
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	color: white;
	display: table-cell;
	vertical-align: middle;
	z-index: 2;
}

.navbar {
	position: fixed;
	top: 0;
	height: 59px;
	width: 100%;
	background: rgb(255,148,68);
    z-index: 10000;
}

.navbutton {
	vertical-align: middle;
	font-size: 16px;
	float: right;
	height: 100%;
	width: 100px;
	text-align: center;
	display: inline-block;
	margin: auto;
}

.nav-item {
	margin-top: -10px;
	margin-right: -px;
	height: 60px;
}

.nav-item > .nav-link {
	margin-top: 10px;
}

.nav-item:hover {
    background-color: white;
	cursor: pointer;
    
}

#about p {
    vertical-align: middle;
}

#contact p {
    vertical-align: middle;
}

.top {
    width: 100px;
    height:130px;
	padding:10px; 
	text-align:center; 
	background: whiteSmoke;
	font-weight: bold;
	color: #444;
	text-decoration: none;
	position:fixed;
	top:75px;
	right:40px;
	display:none;
	background: url('arrow_up.png') no-repeat 0px 20px;
}
.top {
    text-decoration: none;
}

#background2 {
    position: relative;
    background-size: cover;
	display: block;
    height: 100vh;
    width: 100%;
    background: rgb(139,62,232);
}

#wrapper {
    position: absolute;
    display: inline-block;
    width: 100%;
    margin: auto;
    left: 0;
    right: 0;
    height: 100%;
    vertical-align: middle;
}

#wrappertop {
    position: relative;
    height: 60%;
    width: 100%;
}

#me {
    top: 20%;
    border-radius: 300px;
    display: block;
    height: 300px;
    width: 300px;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    z-index: 3;
    
}

#wrapperbottom {
    position: relative;
    top: 50%;
    height: 25%;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}

#abouttext {
    position: relative;
    text-align: center;
    left: auto;
    right: auto;
    z-index: 1;
}

#resume {
    position: relative;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1;
    top: 15%;
    width: 100px;
    margin: 0 auto;
    border-style: solid;
	height: 50px;
	vertical-align: middle;
	line-height: 40px;
}

#resume:hover {
	cursor: pointer;
	background-color: white;
}

#background3 {
    position: relative;
    background-size: cover;
	display: block;
    height: 100vh;
    width: 100%;
    background: rgb(68,99,255);
	overflow: auto;
}

#projectswrapper {
    position: absolute;
    height: 15%;
    top: 10%;
    width: 100%;
    text-align: center;
    color: white;
}

.project {
	text-align: center;
}

.project:hover {
	background-color: white;
	cursor: pointer;
}

#background4 {
    position: relative;
	background: rgb(255,68,226);
	background-size: cover;
	width: 100%;
	height: 100vh;
    
}
.background4 img {
    background-size: 100%;
    width: 100%;
    height: 100vh;
    /*opacity: 0.2;*/
}

#followme {
    position: absolute;
    height: 15%;
    top: 20%;
    width: 100%;
    text-align: center;
    color: white;
}

#iconcontainer {
    text-align: center;
    width: 300px;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    height: 50%;
    width: 70%;
}

.fa {
    margin-right: 20px;
}

</style>